In [1]:
import pandas as pd

In [2]:
ml100k_interactions = pd.read_csv('/workspace/gregorio/gobrec/experiments/datasets/ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
ml100k_interactions

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [3]:
ml100k_items = pd.read_csv('/workspace/gregorio/gobrec/experiments/datasets/ml-100k/u.item', sep='|', names=['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], encoding='latin-1')
ml100k_items

,item_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
genres = ['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
ml100k_items = ml100k_items[['item_id'] + genres]
ml100k_items

,item_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [5]:
ml100k_interactions_items = ml100k_interactions.merge(ml100k_items, on='item_id', how='left')
ml100k_interactions_items

,user_id,item_id,rating,timestamp,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99996,716,204,5,879795543,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
99997,276,1090,1,874795795,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,225,2,882399156,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99999,12,203,3,879959583,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
ml100k_interactions_items['genres_sum'] = 1
ml100k_interactions_items

,user_id,item_id,rating,timestamp,unknown,Action,Adventure,Animation,Children's,Comedy,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,genres_sum
0,196,242,3,881250949,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,186,302,3,891717742,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
2,22,377,1,878887116,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
3,244,51,2,880606923,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
4,166,346,1,886397596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
99996,716,204,5,879795543,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
99997,276,1090,1,874795795,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
99998,13,225,2,882399156,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
99999,12,203,3,879959583,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [7]:
ml100k_cumsum = ml100k_interactions_items.groupby('user_id')[['genres_sum'] + genres].cumsum()
contexts = ml100k_cumsum[genres].to_numpy() / ml100k_cumsum['genres_sum'].to_numpy()[:, None]
contexts

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.30501931, 0.14671815, ..., 0.26061776, 0.05405405,
        0.02316602],
       [0.        , 0.24528302, 0.11477987, ..., 0.19025157, 0.06446541,
        0.02044025],
       [0.        , 0.2745098 , 0.1372549 , ..., 0.23529412, 0.1372549 ,
        0.03921569]])

In [8]:
ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()

array([  202,   305,   333,   334,   478,   639,   687,   820,   933,
         972,  1167,  1299,  1382,  1440,  1617,  1780,  1989,  2328,
        3049,  3059,  3171,  3191,  3234,  3246,  3248,  3260,  3358,
        3377,  3431,  3710,  3733,  3836,  3888,  3909,  4001,  4070,
        4165,  4177,  4232,  4280,  4290,  4306,  4411,  4839,  4919,
        4963,  4974,  5141,  5233,  5260,  5533,  5555,  5682,  5716,
        5773,  5842,  5909,  6028,  6212,  6234,  6541,  6567,  6649,
        6965,  7101,  7158,  7180,  7561,  7993,  8597,  8737,  8745,
        8834,  8844,  8976,  9170,  9224,  9255,  9307,  9382,  9566,
        9692,  9722,  9811,  9971, 10207, 10480, 10508, 10520, 10922,
       11080, 11154, 11321, 11663, 11807, 11859, 12011, 12183, 12457,
       12516, 12948, 13030, 13165, 13542, 13575, 13638, 14025, 14079,
       14425, 14792, 14930, 15270, 15292, 15299, 15638, 15764, 15932,
       16053, 16314, 16455, 16590, 16673, 16922, 17031, 17220, 17297,
       17672, 17863, 17988, 18304, 18313, 18695, 18796, 19610, 19699,
       19722, 19996, 20153, 20175, 20470, 20952, 20970, 21152, 21626,
       21947, 22496, 22669, 22845, 22971, 23028, 23095, 23128, 23171,
       24493, 24547, 24896, 25138, 25255, 25721, 26687, 26974, 27216,
       27235, 27949, 28430, 30479, 31243, 31376, 31650, 31742, 31856,
       31991, 32015, 32151, 32236, 33909, 34026, 34165, 34550, 34642,
       35389, 35409, 36844, 36878, 37810, 37820, 38193, 38697, 38751,
       39296, 39865, 40519, 40600, 40756, 40783, 41842, 42456, 43263,
       43280, 43438, 43859, 44074, 45483, 45732, 45796, 47521, 47539,
       47638, 47860, 48078, 48214, 49853, 50026, 50156, 50736, 50792,
       51295, 51616, 53552, 54634, 55001, 55636, 56067, 56312, 56881,
       57256, 57423, 58377, 59055, 59972, 60926, 62069, 62631, 62649,
       62820, 66567, 67079, 67098, 70168, 70539, 73358, 73972, 74577,
       74847, 75385, 77073, 77238, 77630, 78171, 78695, 78817, 81463,
       81568, 82444, 82786, 83307, 84793, 85377, 85557, 86585, 87831,
       87967, 88021, 88259, 88262, 88893, 89876, 92049, 92487, 94019,
       96699, 99073])

In [9]:
ml100k_interactions_items[ml100k_interactions['user_id'] == 1][genres]

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
202,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
305,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
333,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
334,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
478,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92049,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
92487,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0
94019,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
96699,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
99073,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
pd.DataFrame(contexts[ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()], columns=genres)

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.333333,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000
3,0.000000,0.250000,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000
4,0.000000,0.200000,0.000000,0.200000,0.000000,0.200000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.200000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.003731,0.276119,0.152985,0.044776,0.089552,0.328358,0.093284,0.018657,0.395522,0.007463,0.003731,0.048507,0.048507,0.018657,0.160448,0.152985,0.194030,0.089552,0.022388
268,0.003717,0.278810,0.156134,0.044610,0.089219,0.327138,0.092937,0.018587,0.397770,0.007435,0.003717,0.048327,0.048327,0.018587,0.163569,0.156134,0.193309,0.092937,0.022305
269,0.003704,0.277778,0.155556,0.044444,0.088889,0.329630,0.092593,0.018519,0.396296,0.007407,0.003704,0.048148,0.048148,0.018519,0.162963,0.155556,0.192593,0.092593,0.022222
270,0.003690,0.276753,0.154982,0.044280,0.088561,0.332103,0.092251,0.018450,0.394834,0.007380,0.003690,0.047970,0.047970,0.018450,0.162362,0.158672,0.191882,0.092251,0.022140
271,0.003676,0.275735,0.154412,0.044118,0.091912,0.334559,0.091912,0.018382,0.393382,0.007353,0.003676,0.047794,0.047794,0.018382,0.161765,0.158088,0.191176,0.091912,0.022059

In [11]:
# Precisa arrumar problema que os contextos incluem o item atual.
import numpy as np

for user_id in ml100k_interactions['user_id'].unique():
    user_indices = ml100k_interactions[ml100k_interactions['user_id'] == user_id].index.to_numpy()
    user_contexts = contexts[user_indices]
    user_contexts_shifted = np.roll(user_contexts, shift=1, axis=0)
    user_contexts_shifted[0] = 0  # Primeiro contexto Ã© zero
    contexts[user_indices] = user_contexts_shifted

In [12]:
pd.DataFrame(contexts[ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()], columns=genres)

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.333333,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000
4,0.000000,0.250000,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.003745,0.273408,0.153558,0.044944,0.089888,0.329588,0.093633,0.018727,0.393258,0.007491,0.003745,0.048689,0.048689,0.018727,0.161049,0.153558,0.191011,0.089888,0.022472
268,0.003731,0.276119,0.152985,0.044776,0.089552,0.328358,0.093284,0.018657,0.395522,0.007463,0.003731,0.048507,0.048507,0.018657,0.160448,0.152985,0.194030,0.089552,0.022388
269,0.003717,0.278810,0.156134,0.044610,0.089219,0.327138,0.092937,0.018587,0.397770,0.007435,0.003717,0.048327,0.048327,0.018587,0.163569,0.156134,0.193309,0.092937,0.022305
270,0.003704,0.277778,0.155556,0.044444,0.088889,0.329630,0.092593,0.018519,0.396296,0.007407,0.003704,0.048148,0.048148,0.018519,0.162963,0.155556,0.192593,0.092593,0.022222
271,0.003690,0.276753,0.154982,0.044280,0.088561,0.332103,0.092251,0.018450,0.394834,0.007380,0.003690,0.047970,0.047970,0.018450,0.162362,0.158672,0.191882,0.092251,0.022140

In [13]:
import os

def preprocess_mldata(ml_data_loader, save_path):
    
    interactions_df, items_df = ml_data_loader()
    genres = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

    items_df = items_df[['item_id'] + genres]
    interactions_items_df = interactions_df.merge(items_df, on='item_id', how='left')
    interactions_items_df['genres_sum'] = 1

    cumsum = interactions_items_df.groupby('user_id')[['genres_sum'] + genres].cumsum()
    contexts = cumsum[genres].to_numpy() / cumsum['genres_sum'].to_numpy()[:, None]

    for user_id in interactions_df['user_id'].unique():
        user_indices = interactions_df[interactions_df['user_id'] == user_id].index.to_numpy()
        user_contexts = contexts[user_indices]
        user_contexts_shifted = np.roll(user_contexts, shift=1, axis=0)
        user_contexts_shifted[0] = 0
        contexts[user_indices] = user_contexts_shifted
    
    os.makedirs(save_path, exist_ok=True)
    interactions_df[['item_id', 'rating']].to_csv(os.path.join(save_path, 'interactions.csv'), index=False)
    np.save(os.path.join(save_path, 'contexts.npy'), contexts)

In [14]:
def load_ml100k_raw_data():
    interactions = pd.read_csv('./datasets/ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp']).sort_values(by=['timestamp']).reset_index(drop=True)
    items = pd.read_csv('./datasets/ml-100k/u.item', sep='|', names=['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], encoding='latin-1')
    return interactions, items

In [15]:
def load_ml100k():
    if not os.path.exists('./datasets/ml-100k/preprocessed/interactions.csv') and not os.path.exists('./datasets/ml-100k/preprocessed/contexts.npy'):
        preprocess_mldata(load_ml100k_raw_data, './datasets/ml-100k/preprocessed')

    interactions = pd.read_csv('./datasets/ml-100k/preprocessed/interactions.csv')
    contexts = np.load('./datasets/ml-100k/preprocessed/contexts.npy')
    return interactions, contexts

In [16]:
load_ml100k()

(       item_id  rating
 0          242       3
 1          302       3
 2          377       1
 3           51       2
 4          346       1
 ...        ...     ...
 99995      476       3
 99996      204       5
 99997     1090       1
 99998      225       2
 99999      203       3

 [100000 rows x 2 columns],
 array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.30560928, 0.14700193, ..., 0.25918762, 0.05415861,
         0.02321083],
        [0.        , 0.24566929, 0.11496063, ..., 0.19055118, 0.06456693,
         0.02047244],
        [0.        , 0.28      , 0.14      , ..., 0.24      , 0.14      ,
         0.02      ]]))

In [17]:
def load_ml1m_raw_data():
    genres_map = {
        'Action': 0,
        'Adventure': 1,
        'Animation': 2,
        "Children's": 3,
        'Comedy': 4,
        'Crime': 5,
        'Documentary': 6,
        'Drama': 7,
        'Fantasy': 8,
        'Film-Noir': 9,
        'Horror': 10,
        'Musical': 11,
        'Mystery': 12,
        'Romance': 13,
        'Sci-Fi': 14,
        'Thriller': 15,
        'War': 16,
        'Western': 17
    }
    interactions = pd.read_csv('./datasets/ml-1m/ratings.dat', sep='::', names=['user_id', 'item_id', 'rating', 'timestamp'], engine='python').sort_values(by=['timestamp']).reset_index(drop=True)
    items = pd.read_csv('./datasets/ml-1m/movies.dat', sep='::', names=['item_id', 'title', 'genres'], engine='python', encoding='latin-1')
    for genre in genres_map.keys():
        items[genre] = items['genres'].apply(lambda x: 1 if genre in x.split('|') else 0)
    return interactions, items

In [18]:
load_ml1m_raw_data()

(         user_id  item_id  rating   timestamp
 0           6040      858       4   956703932
 1           6040     2384       4   956703954
 2           6040      593       5   956703954
 3           6040     1961       4   956703977
 4           6040     2019       5   956703977
 ...          ...      ...     ...         ...
 1000204     4958     2399       1  1046454338
 1000205     4958     1407       5  1046454443
 1000206     4958     3264       4  1046454548
 1000207     4958     2634       3  1046454548
 1000208     4958     1924       4  1046454590

 [1000209 rows x 4 columns],
       item_id                               title  \
 0           1                    Toy Story (1995)
 1           2                      Jumanji (1995)
 2           3             Grumpier Old Men (1995)
 3           4            Waiting to Exhale (1995)
 4           5  Father of the Bride Part II (1995)
 ...       ...                                 ...
 3878     3948             Meet the Parents (2000)
 3879     3949          Requiem for a Dream (2000)
 3880     3950                    Tigerland (2000)
 3881     3951             Two Family House (2000)
 3882     3952               Contender, The (2000)

                             genres  Action  Adventure  Animation  Children's  \
 0      Animation|Children's|Comedy       0          0          1           1
 1     Adventure|Children's|Fantasy       0          1          0           1
 2                   Comedy|Romance       0          0          0           0
 3                     Comedy|Drama       0          0          0           0
 4                           Comedy       0          0          0           0
 ...                            ...     ...        ...        ...         ...
 3878                        Comedy       0          0          0           0
 3879                         Drama       0          0          0           0
 3880                         Drama       0          0          0           0
 3881                         Drama       0          0          0           0
 3882                Drama|Thriller       0          0          0           0

       Comedy  Crime  Documentary  ...  Fantasy  Film-Noir  Horror  Musical  \
 0          1      0            0  ...        0          0       0        0
 1          0      0            0  ...        1          0       0        0
 2          1      0            0  ...        0          0       0        0
 3          1      0            0  ...        0          0       0        0
 4          1      0            0  ...        0          0       0        0
 ...      ...    ...          ...  ...      ...        ...     ...      ...
 3878       1      0            0  ...        0          0       0        0
 3879       0      0            0  ...        0          0       0        0
 3880       0      0            0  ...        0          0       0        0
 3881       0      0            0  ...        0          0       0        0
 3882       0      0            0  ...        0          0       0        0

       Mystery  Romance  Sci-Fi  Thriller  War  Western
 0           0        0       0         0    0        0
 1           0        0       0         0    0        0
 2           0        1       0         0    0        0
 3           0        0       0         0    0        0
 4           0        0       0         0    0        0
 ...       ...      ...     ...       ...  ...      ...
 3878        0        0       0         0    0        0
 3879        0        0       0         0    0        0
 3880        0        0       0         0    0        0
 3881        0        0       0         0    0        0
 3882        0        0       0         1    0        0

 [3883 rows x 21 columns])

In [19]:
def load_ml1m():
    if not os.path.exists('./datasets/ml-1m/preprocessed/interactions.csv') and not os.path.exists('./datasets/ml-1m/preprocessed/contexts.npy'):
        preprocess_mldata(load_ml1m_raw_data, './datasets/ml-1m/preprocessed')

    interactions = pd.read_csv('./datasets/ml-1m/preprocessed/interactions.csv')
    contexts = np.load('./datasets/ml-1m/preprocessed/contexts.npy')
    return interactions, contexts

In [21]:
load_ml1m()

(         item_id  rating
 0            858       4
 1           2384       4
 2            593       5
 3           1961       4
 4           2019       5
 ...          ...     ...
 1000204     2399       1
 1000205     1407       5
 1000206     3264       4
 1000207     2634       3
 1000208     1924       4

 [1000209 rows x 2 columns],
 array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [1.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.5       , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.16741071, 0.14732143, 0.08705357, ..., 0.11160714, 0.07142857,
         0.00892857],
        [0.16703786, 0.14699332, 0.08685969, ..., 0.11135857, 0.07126949,
         0.00890869],
        [0.16666667, 0.14666667, 0.08666667, ..., 0.11111111, 0.07111111,
         0.00888889]]))